Package: com.shinvou.NSLogHook
Name: NSLogHook
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Timm Kandziora
Author: Timm Kandziora
Section: Tweaks
